*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body{
    background-color: black;
    overflow-x: hidden;
}
.navbar-container{
    background-color: rgb(89, 241, 241);
    padding: 30px;
    position: relative;
    
}
/*NAVBAR*/
.navbar-container ul{
    float: right;
    margin-right: 20px;


}
.navbar-container ul li{
    display: inline-block;
    line-height: 10px;
    margin: 0 5px;

}
.list-navbar{
    display: block;
    
}
.navbar-link{
    text-align: center;
    display: inline-flexbox;
    background-color: transparent;
    border-radius: 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    height: 100px;
    width: 80px;
    position: relative;
    padding: 10px;
}
.navbar-link:hover{
    background-color: rgb(3, 62, 66);
    color: white;
    width: 600px;
    transition: all ease-out 1s;
}
.checkbtn{
    font-size: 30px;
    color: rgb(2, 2, 2);
    float: right;
    line-height: -10px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#chck-box{
    display: none;
}
/*FOR LANDING PAGE*/
.main-landing{
    width: 100%;
    height: 50vh;
    border-color: transparent;
    
}
.container-landing{
    width: 50%;
    height: 90%;
    padding: 10px;
    margin: 5px 10px 0 10px;
}
.landing-welcome{
    text-align: center;
    margin-top: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: transparent;
    font-size: 3rem;
    background-image:  linear-gradient(rgb(231, 116, 226), rgb(52, 92, 223), rgb(140, 252, 227) );
    -webkit-background-clip: text;
    position: relative;
    background-size: 400% 100%;
}
.landing-technology{
    text-align: center;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    animation: alternate typing 3s;
    float: left;
}
.display-text{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgb(248, 247, 247);
}
/*For Animation of text*/
.animated-text{
    font-size: 30px;
    font-weight: 600;
    min-width: 280px;
    color: rgb(252, 249, 249);
    text-align: center;
}
.animated-text span{
    margin: 10px;
    position: relative;
    color: rgb(248, 244, 244);
}
.animated-text span::before{
    content: "STUDENT";
    animation: words 20s infinite;
}
.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);  
    height: 100%;
    background-color: aquamarine;
    border-left: 2px solid rgb(47, 248, 255);
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid rgb(47, 248, 255);
    }
    
}
@keyframes words{
    0%,20%{
            content: "FERDENAND";

    }
     21%,40%{
            content: "SAMSON";
    }
    41%,80%{
        content: "BAYADAS";
    }
}
@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
            width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
            width: calc(100% + 8px);      
    }
}
.fab{
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(27, 29, 31);
    color: rgb(236, 149, 149);
    box-shadow: inset 0 0 10px rgb(7, 138, 214);
    
}
.social-icons{
    font-size: 18px;
    margin-top: 20px;
    


}
.fab:hover,.practice-link:hover{
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    box-shadow: inset 0 0 10px rgb(2, 2, 2);
    background-color: aqua;
}
.learnmore{
    margin: 15px;
}
.practice-link{
    text-decoration: none;
    color: rgb(247, 241, 241);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset 0 0 10px rgb(7, 138, 214);
}
.image-container img{
    width: 40%;
    height: 45vh;
    border: transparent;
    border-radius: 50px;
    padding: 10px;
    box-shadow: inset rgb(26, 25, 25) 0 0 10px;
    box-sizing: border-box;
    filter: drop-shadow(50%);
    margin-top: -335px;
    position: relative;
    left: 800px;
}
/*for darkmode*/
.list-navbar-darkmode{
    display: flexbox;
    text-decoration: none;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    height: 100px;
    width: 100px;
    position: relative;
}
.list-navbar-darkmode:hover{
    background-color: rgb(8, 8, 8);
    color: white;
    width: 50px;
    transition: all ease-out 0.5s;
}
/*frame for Media CP*/
@media only screen and (max-width: 600px) {
.checkbtn{
    display: block;
}
ul{
    position: fixed;
    width: 100%;
    height: 90vh;
    padding: 20px;
    background: rgb(30, 213, 219);
    top: 60px;
    left: 100%;
    text-align: center;
    transition: all .5s;

}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    overflow: hidden;


}
.navbar-container ul li{
    display: block;
    padding: 20px;

    

}
#chck-box:checked ~ ul{
    left: 0;
}
.landing-technology{
display: none;
}
.display-text{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;
}





}
/*frame for Media tablet*/
@media (min-width: 768px) {
  body {
    display: block;
  }
 
}
/*frame for Media Laptop and Desktop
@media only screen and (min-width: 992px){
  body {
    background-color: lightblue;
    display: block;
  }
}
/*frame for Media TV or any device of larger screen*
@media only screen and (min-width: 1200px){
  body {
    background-color: lightblue;
    display: block;
  }
} */
.aboutme{
    background-color: transparent;
    width: 100%;
    height: 60vh;
}
.aboutme-container{
    width: 30%;
    height: 54vh;
    background-color: rgb(14, 13, 13);
    border-radius: 5px;
    box-shadow: inset 0 0 10px white;
    padding: 10px;
    position: relative;
}
.titleh1{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}
h2{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(255, 254, 254);
    text-align: center;
}
.text-aboutme{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    border: none;
    margin: 5px 0 0 -650px;
    font-weight: bold;
    text-align: center;
}
.text-about-me{
    width: 50%;
    height: 5%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    border: none;
    margin: 20px 0 0 150px;
    padding: 10px;
    font-weight: bold;
    box-shadow: inset 0 0 10px rgb(77, 187, 231);
    text-align: center;
    cursor: pointer;
    position: relative;
}
.text-about-me:hover{
    box-shadow: inset 0 0 10px rgb(77, 187, 231);
    background-color: aqua;
    padding: 10px;
    margin-top: 15px;
    color: rgb(5, 5, 5);
}
.about-me-details{
    color: white;
    margin: -530px 0 0 600px;
    border: transparent;
    border-radius: 5px;
    display: block;
    position: relative;
    box-shadow: inset 0 0 10px white;
    width: 100%;
    height: 56vh;
    position: relative;
}
.text-aboutme-paragraph{
    font-size: 18px;
    margin: 10px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    
}
.text-aboutme-details{
    font-size: 18px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.projects{
    width: 100%;
    height: 60vh;
    background-color: transparent;
    margin-top: 20px;
    position: relative;
}
.projecttitle{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
    position: relative;
}
.text-project{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: relative;

}
.image-project{
    width: 40%;
    height: 40vh;
    margin: 50px 0 0 20px;
    display: flex;
    position: relative;
    

}
.project-image1{
    width: 70%;
    border: outset 10px rgb(34, 223, 166);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.image-project1{
    width: 40%;
    height: 40vh;
    margin: -379px 0 0 600px;
    display: flex;
    position: relative;

}
.project-image2{
    width: 70%;
    box-shadow: 0 0 10px black;
    border: outset 10px rgb(34, 223, 166);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.image-project2{
    width: 40%;
    height: 40vh;
    margin: -379px 0 0 1180px;
    display: flex;
    position: relative;

}
.project-image3{
    width: 70%;
    box-shadow: 0 0 10px black;
    border: outset 10px rgb(34, 223, 166);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.titleprojects{
    margin-top: 10px;
    gap: 5rem;
    padding: 10px;
    width: 50%;
    height: 2vh;
    text-align: center;
    color: white;
    box-shadow: inset 0 0 10px lightgreen;
    font-size: 20px;
    position: relative;
}
.titleprojects:hover{
    box-shadow: inset 0 0 10px rgb(14, 194, 140);
    background-color: aquamarine;
    color: black;
}
.contact{
    width: 100%;
    height: 80vh;
    background-color: white;
    overflow: hidden;
}
.contact-h1{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.paragraph-inquire{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(8, 8, 8);
    position: relative;

}
.inquire-contact{
    width: 10%;
    height: 20vh;
    border: none;
    border-radius: 10px;
    margin-left: 600px;
    box-shadow:0 0 10px black;
    background-color: black;
    margin-top: 50px;

}
.fa-facebook-square{
    display: block;
    font-size: 150px;
    width: 90%;
    height: 15vh;
    text-align: center;
    background-color: white;
    margin-top: -2px;
    color: black;
}
.fa-facebook-square:hover{
    font-size: 150px;

}
.follow-facebook{
    color: white;
    text-align: center;
    margin: 5px;
    font-size: 15px;
}
.inquire-contact-1{
    width: 10%;
    height: 20vh;
    border: none;
    border-radius: 10px;
    margin-left: 850px;
    box-shadow:0 0 10px black;
    background-color: black;
    margin-top: -189px;

}
.fa-envelope{
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: rgb(7, 7, 7);
    box-shadow: inset 0 0 10px rgb(7, 138, 214);
    display: block;
    font-size: 150px;
    width: 90%;
    height: 15vh;
    text-align: center;
    
}
.fa-envelope:hover{
    font-size: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    box-shadow: inset 0 0 10px rgb(2, 2, 2);
    background-color: aqua;

}
.follow-gmail{
    color: white;
    text-align: center;
    margin: 5px;
    font-size: 15px;
}
.inquire-contact-2{
    width: 10%;
    height: 20vh;
    border: none;
    border-radius: 10px;
    margin-left: 1100px;
    box-shadow:0 0 10px black;
    background-color: black;
    margin-top: -189px;

}
.fa-phone{
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: rgb(7, 7, 7);
    box-shadow: inset 0 0 10px rgb(7, 138, 214);
    display: block;
    font-size: 150px;
    width: 90%;
    height: 15vh;
    text-align: center;
}
.fa-phone:hover{
    font-size: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    box-shadow: inset 0 0 10px rgb(2, 2, 2);
    background-color: aqua;
}
.contact-me{
    color: white;
    text-align: center;
    margin: 5px;
    font-size: 15px;

}
.inquire-contact-3{
    width: 30%;
    height: 38vh;
    border: none;
    border-radius: 10px;
    margin-left: 1330px;
    box-shadow:0 0 10px black;
    background-color: rgb(248, 248, 248);
    margin-top: 50px;
}
.fa-comment-dots{
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: rgb(7, 7, 7);
    box-shadow: inset 0 0 10px rgb(8, 8, 8);
    display: block;
    font-size: 25px;
    margin-left: 430px;
}
.chat-me{
    color: rgb(15, 15, 15);
    text-align: center;
    font-size: 15px;
    box-shadow: inset 0 0 10px black;
    border: transparent;
    border-radius: 10px;
    width: 100%;
}

.fieldset{
    width: 98%;
    height: 28vh;
    border: transparent;
    border-radius: 10px;
}
.text-message{
    width: 89%;
    height: 5vh;
    margin-top: 260px;
    border: transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 10px black;
}
.btn-message{
    width: 10%;
    height: 6vh;
    border: transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgb(5, 5, 5);
    cursor: pointer;
}
.btn-message:hover{
    background-color: aqua;
    box-shadow: inset 0 0 10px rgb(5, 5, 5);


}
.fa-paper-plane{
    font-size: 30px;
}
.login{
    width: 100%;
    height: 60vh;
    background-color: rgb(12, 11, 11);
}
.form{
    margin: 100px auto;
    border: black 10px;
    width: 20%;
    height: 45vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(103, 211, 146);
    background-color: rgb(2, 2, 2);
}
.loginh1{
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 10px;
    background-image: linear-gradient(rgb(72, 233, 198),rgb(15, 167, 238));
}
.paragraph-text-noted{
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px;
}
.foremail{
    margin-top: 50px;
    display: block;
}
.emaillabel{
    width: 10%;
    color: white;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
.emailtext{
    border: transparent;
    border-radius: 10px;
    box-shadow: inset  0 0 10px black;
    width: 350px;
    height: 3vh;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
}
.forpassword{
    margin-top: 20px;
    display: block;
}
.passwordlabel{
    width: 10%;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.passwordtext{
    border: transparent;
    border-radius: 10px;
    box-shadow: inset  0 0 10px black;
    width: 350px;
    height: 3vh;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
}
.paragraph-register{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    gap: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.register-link{
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgb(73, 219, 238);
    width: 10%;
    height: 10vh;
    font-size: 18px;
    padding: 8px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.register-link:hover{
    background-color: aqua;
    box-shadow: inset 0 0 10px black;
    color: black;
}
.border-form-footer{
    background-color: white;
    width: 100%;
    height: 5vh;
    margin-top: 30px;
    box-shadow: 0 0 10px aquamarine;
}
.text-area{
    color: rgb(7, 7, 7);
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}
.btn-container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn-submit, .cancel{
    width: 20%;
    padding: 10px;
    height: 5vh;
    margin: 20px 0 0 10px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 10px black;
    cursor: pointer;
    font-size: 15px;
}
.btn-submit:hover, .cancel:hover{
    background-color: aqua;
    box-shadow: inset 0 0 10px black;
}